body{
    margin: 0;
    padding: 0;
    height: 100vh;
 }
 .container{
    margin:5px 70px;
    display: flex;
    flex-wrap: wrap;
}   
.container>div{
    background-color: white;
    margin: 5px;
    padding: 15px;
    font-size: 15px;
    color: rgb(12, 11, 11);
    border: 1px solid rgb(250, 246, 246);
    box-shadow: 0 0 1px #e9e5e5;
    border-radius: 3px;
}
.address,.productDetails{
    width: 750px;
}
.priceDetails{
    width:340px;
    height: 50px;

}
.price{
    width: 340px;
    height: 170px;
    transform: translate(760px,-209px);
}
.productDetails{
    height: 250px; 
    display: flex;
    flex-direction: column; 
    
}
.name{
    font-weight: bold;
}
