body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #f0f0f0;
 }
.container{
    margin:30px 70px;
    display: flex;
    flex-wrap: wrap;
}  
.container>div{
    background-color: white;
    margin: 3px;
    padding: 10px;
    font-size: 15px;
    color: rgb(12, 11, 11);
    border: 1px solid rgb(250, 246, 246);
    box-shadow: 0 0 1px #e9e5e5;
    border-radius: 3px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 60px;
    width: 730px;
}
.flipkart{
    color: #2874f0;
    cursor: default;
    border-bottom: 3px solid #2874f0;
    font-weight: 550;
    padding: 12px 50px;
}
.grocery{
    padding: 12px 50px;
}

.address{
    height: 70px;
    width: 730px;
}
.first{
    font-size: 15px;
    font-weight: bold;
    transform: translateY(-10px);
}
.second{
    font-size: 13px;
    transform: translateY(-30px);
}
.work{
    margin: 5px;
    padding: 5px;
    border: none;
    align-items: center;
    font-size: 10px;
    font-weight: bold;
}
.change{
    transform: translate(300px,-20px);
     padding: 5px 10px;
     color: blue;
     background-color: white;
     font-weight: bold;
     border: 1px solid rgb(207, 202, 202);
     border-radius: 3px;
     box-shadow: 0 0 3px rgb(207, 202, 202);
}
